<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%- include('./navBarAdmin') %>

  <div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <p>Users: <%= userCount %></p>
    <p>Products: <%= productCount %></p>
    <p>Subscriptions: <%= subscriptionCount %></p>
    <ul class="list-group">
      <li class="list-group-item"><a href="/admin/manage-products">Manage Products</a></li>
      <li class="list-group-item"><a href="/admin/manage-subscriptions">Manage Subscriptions</a></li>
      <li class="list-group-item"><a href="/admin/manage-users">Manage Users</a></li>
    </ul>
  </div>
</body>
</html>S